﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@foreach (var product in Model.Products)
{
    //<h2>@product.Title</h2>
    <div class="card mb-3">
        <img height="500px" src="https://bamboo-bungalows.com/wp-content/uploads/2021/03/photo-1507525428034-b723cf961d3e-1024x681.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@product.Title</h5>
            <p class="card-text">@product.Body</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
}
@foreach (var photo in Model.Photos)
{

    //<h2>@photo.ThumbnailUrl</h2>
<div class="card">
    <h5 class="card-header">album : @photo.AlbumId </h5>
    <div class="card-body">
        <h5 class="card-title">@photo.Title</h5>
        <p class="card-text">@photo.ThumbnailUrl</p>
        <a href="@photo.Url" class="btn btn-primary" target="_blank">Go somewhere</a>
    </div>
</div>

}