﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">!...Hello World...!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Hello</h1>
<h2>Hello</h2>
<h3>Hello</h3>
<h4>Hello</h4>
<h5>Hello</h5>
<h6>Hello</h6>
<!--<p>Hello Paragraph</p> -->
<img width="500px" height="300px" src ="https://bamboo-bungalows.com/wp-content/uploads/2021/03/photo-1507525428034-b723cf961d3e-1024x681.jpeg" alt="Test"/>
<p> <a href="https://www.youtube.com/">go to Youtube</a> </p>
<a href="https://www.youtube.com/" target="_blank"><img width="100px" height="100px" src="https://www.youtube.com/img/desktop/yt_1200.png" alt="Link Yuotube" /></a>

<ul>
    <li>A</li>
    <li>B</li>
</ul>
<ol>
    <li>C</li>
    <li>D</li>
</ol>

<form>
    <input type ="text" /><br/>
    <input type ="radio"/> Click <br/>
</form>